aclocal.m4
autom4te.cache
*.coff
config.guess
config.h
config.h.in
config.log
config.status
config.status.lineno
config.sub
configure
configure.lineno
DEADJOE
depcomp
.deps
*.exe
*.exe.stackdump
install-sh
Makefile
Makefile.in
missing
*.nh
*.nh.bz2
proxyrec
stamp-h1
stamp-h.in
_stdint.h
svn-commit*.tmp
termplay
termrec
termrec-*.tar.gz
*.ttyrec
*.ttyrec.bz2
*.ttyrec.gz
ttyrecord
*.txt.bz2
*.o
*~

vtest
vtredir
