aclocal.m4
autom4te.cache
*.coff
config.guess
config.h
config.h.in
config.log
config.status
config.status.lineno
config.sub
configure
configure.lineno
VERSION
build-stamp
check-stamp
DEADJOE
depcomp
.deps
.dirstamp
*.exe
*.exe.stackdump
install-sh
compile
Makefile
Makefile.in
missing
libtool
ltmain.sh
m4/libtool.m4
m4/lt*.m4
ar-lib
*.nh
*.nh.bz2
proxyrec
stamp-h1
stamp-h.in
_stdint.h
svn-commit*.tmp
termplay
termrec
termtime
termcat
*.1
*.3
termrec-*.tar.xz
*.ttyrec
*.ttyrec.bz2
*.ttyrec.gz
ttyrecord
*.txt.bz2
*.o
*.a
*.lo
*.la
*.loT
.libs
*~
.pc
debian/patches
debian/autoreconf.*
