Source: termrec
Priority: optional
Maintainer: Adam Borowski <kilobyte@angband.pl>
Build-Depends: debhelper (>= 7), autotools-dev, libbz2-dev, zlib1g-dev
Standards-Version: 3.8.0
Section: libs
Homepage: http://angband.pl/termrec.html

Package: termrec
Section: misc
Architecture: any
Depends: libtty0 (>= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Description: terminal videos/scripts recorder and player
 This package contains "termrec", a program which can record a terminal
 session and play it back.  It can handle both line-based programs and
 full-screen things that use curses or curses-like methods.
 Unlike "ttyrec", termrec can scroll back, use .gz/.bz2 files or files
 in several other tty recorder formats.

Package: libtty-dev
Section: libdevel
Architecture: any
Depends: libtty0 (= ${binary:Version})
Description: terminal/ttyrec library -- development
 libtty is a library for handling terminal output.  Unlike curses, it
 can be on the receiving end as well.  This is useful for "screen"-like
 operations, interpreting output of full-screen console apps, and so on.
 A second part of the library provides ways to read/write/edit ttyrec
 recordings, including formats similar to ttyrec.
 .
 This package contains the library headers.

Package: libtty0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: terminal/ttyrec library -- runtime
 libtty is a library for handling terminal output.  Unlike curses, it
 can be on the receiving end as well.  This is useful for "screen"-like
 operations, interpreting output of full-screen console apps, and so on.
 A second part of the library provides ways to read/write/edit ttyrec
 recordings, including formats similar to ttyrec.
 .
 This package contains the binary library.
