#!/usr/bin/make -f

%:
	dh $@ --parallel --with autoreconf

override_dh_auto_test:
ifeq ($(DEB_BUILD_GNU_TYPE),$(DEB_HOST_GNU_TYPE))
	LC_ALL=C.UTF-8 $(MAKE) check || debian/rules testfail
else
	@echo Suppressing 'make check', because this is a cross build
endif

testfail:
	@echo "!!!TESTS FAILED!!!"
	@cat tests/testsuite.log
	@false
